<Weather></Weather>
<!--
<div class="btn-group btn-group-vertical">
  <h1><span class="label label-default">Garage Door #2</span></h1>
  <br>
  <button type="button" class="btn btn-primary btn-lg"  (click)="open_button_clicked()" >Open</button>
  <img *ngIf="waitingForOpenDoor" [src]="loader_gif"/>
  <br>
  <button type="button" class="btn btn-danger btn-lg" (click)="close_button_clicked()">Close</button>
  <img *ngIf="waitingForCloseDoor" [src]="loader_gif"/>
  <br>
  <button type="button" class="btn btn-info btn-lg" (click)="take_photo_clicked()">Take Photo</button>
  <br>
</div>
-->
<img width="100%" [src]="responseFromUnSplash"/>

